body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background: #333;
}

.hero {
  background: url('../public/images/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.feature {
  background: #444;
}

.about,
.class,
.schedule,
.contact {
  padding: 80px 0;
}
